<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group6.lmsbackend.mapper.BookMapper">
    <insert id="addBook" parameterType="com.group6.lmsbackend.vo.Book">
        INSERT INTO book (
            bookId,
            bookTitle,
            bookWriter,
            bookPublisher,
            bookCNum,
            lendNY,
            createdDate,
            modifiedDate
        )VALUES (
                 #{bookId},
                 #{bookTitle},
                 #{bookWriter},
                 #{bookPublisher},
                 #{bookCNum},
                 #{lendNY},
                 SYSDATE(),
                 SYSDATE()
                        )
    </insert>

    <update id="updateBook" parameterType="com.group6.lmsbackend.vo.Book">
        UPDATE book
        SET bookTitle = #{bookTitle},
            bookWriter = #{bookWriter},
            bookPublisher = #{bookPublisher},
            bookCNum = #{bookCNum},
            modifiedDate = NOW()
        WHERE bookId = #{bookId}
    </update>

    <select id="searchBooks" parameterType="map" resultType="com.group6.lmsbackend.vo.Book">
        SELECT bookId, bookTitle, bookCNum FROM book
        <where>
            <choose>
                <when test="searchType == 'bookId'">
                    AND bookId = #{searchValue}
                </when>
                <when test="searchType == 'bookTitle'">
                    AND bookTitle LIKE CONCAT('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'bookCNum'">
                    AND bookCNum = #{searchValue}
                </when>
            </choose>
        </where>
    </select>

    <select id="getBookDetails" resultType="com.group6.lmsbackend.vo.Book">
        SELECT * FROM book WHERE bookId = #{bookId}
    </select>
</mapper>