<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group6.lmsbackend.mapper.LibMapper">
    <insert id="save" parameterType="com.group6.lmsbackend.vo.Lib">
        insert into `lib` (
            libId,
            libName,
            libPw,
            libEmail,
            libBirth,
            libPNum,
            adminNY,
            applyNY,
            createdDate,
            modifiedDate
        )
        VALUES (
                   #{libId},
                   #{libName},
                   MD5(#{libPw}),
                   #{libEmail},
                   #{libBirth},
                   #{libPNum},
                   #{adminNY},
                   #{applyNY},
                   SYSDATE(),
                   SYSDATE()
               )
    </insert>

    <select id="login" resultType="com.group6.lmsbackend.vo.Lib">
        SELECT * FROM lib WHERE libId = #{libId} AND libPw=MD5(#{libPw})
    </select>

    <select id="countByLibId" resultType="int" parameterType="string">
        SELECT COUNT(*) FROM lib WHERE libId = #{libId}
    </select>


</mapper>