<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group6.lmsbackend.mapper.MemMapper">
    <insert id="memAdd" parameterType="com.group6.lmsbackend.vo.Mem">
        insert into `mem`
        (
            memId,
            memName,
            memEmail,
            memBirth,
            memPNum,
            createdDate,
            modifiedDate
        )
        values
            (
            #{memId},
            #{memName},
            #{memEmail},
            #{memBirth},
            #{memPNum},
            SYSDATE(),
            SYSDATE()
            )
    </insert>

    <update id="memUpdate" parameterType="com.group6.lmsbackend.vo.Mem">
        UPDATE mem
        SET
            memName = #{memName},
            memEmail = #{memEmail},
            memBirth = #{memBirth},
            memPNum = #{memPNum},
            modifiedDate = SYSDATE()
        WHERE
            memId = #{memId}
    </update>

    <!--회원 전체 조회, 카테고리 : memId, memName, memEmail-->
    <select id="searchMembers" resultType="com.group6.lmsbackend.vo.Mem">
        SELECT memId, memName, memEmail, memPNum
        FROM mem
        <where>
            <choose>
                <when test="category == 'memId'">
                    memId LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="category == 'memName'">
                    memName LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="category == 'memEmail'">
                    memEmail LIKE CONCAT('%', #{keyword}, '%')
                </when>
            </choose>
        </where>
    </select>

    <!-- memId로 회원 조회 -->
    <select id="findByMemId" resultType="com.group6.lmsbackend.vo.Mem">
        SELECT *
        FROM mem
        WHERE memId = #{memId}
    </select>

</mapper>
